
/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

div h2 {
	font-family: Stencil;
}

div h1 {
	font-family: Pristina;
}

div p {
	font-family: Baskerville Old Face;
}

.nav-link {
	font-family: Rockwell;
}

.navbar-brand {
	font-family: Vivaldi;
}

nav{
	color: 
}

